html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

h1 {
    text-align: center;
}

.newsletter {
    border: solid thin #cfcfcf;
    color: gray;
    padding: 10px;
    border-radius: 3px;
    padding-bottom: 20px;
    position: relative;
}

.newsletter h3 {
    margin-top: 0;
}

.newsletter input#email {
    display: block;
    width: 99%;
    height: 30px;
    border: solid #cfcfcf 1px;
    border-radius: 3px;
    margin-bottom: 1%;
}

.newsletter button {
    border: none;
    color: white;
    background-color: #3cb878;
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}

.newsletter button:hover {
    background-color: #3ca878;
}

.newsletter #terms {
    position: relative;
    top: 1px
}

.newsletter #closex {
    position: absolute;
    top: 0;
    right: 4px;
}

#questionmark {
    background-color: #3cb878;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 70px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 4px 4px gray;
}

.card {
    background-color: #3cb878;
    width: 180px;
    color: white;
    text-align: center;
    padding: 20px, 0;
    box-shadow: 0 0 7px 2px gray;
    margin-bottom: 40px;
}

.card h3{
    margin-bottom: 0;
    margin-top: 10px;
}